@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: rgb(131, 2, 2);
  --primarytwo: rgb(174, 34, 34);
  --chatbot: rgb(248, 81, 81);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .btn_primary { 
    @apply  border-white bg-primary px-8 py-3 text-white font-bold 
  }
}